<div class="example-container mat-elevation-z8">
	<div class="example-header">
		<mat-form-field>
			<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
		</mat-form-field>
	</div>
	<mat-table [dataSource]="dataSource" matSort matSortActive="inTime" matSortDirection="desc">
		<ng-container matColumnDef="sampleId">
			<mat-header-cell *matHeaderCellDef mat-sort-header> Sample Id </mat-header-cell>
			<mat-cell *matCellDef="let sample"> {{sample.sampleId}} </mat-cell>
		</ng-container>
		<ng-container matColumnDef="lotNumber">
			<mat-header-cell *matHeaderCellDef mat-sort-header> Lot Number </mat-header-cell>
			<mat-cell *matCellDef="let sample"> {{ sample.lotNumber }} </mat-cell>
		</ng-container>
		<ng-container matColumnDef="productionNumber">
			<mat-header-cell *matHeaderCellDef mat-sort-header> Production Number </mat-header-cell>
			<mat-cell *matCellDef="let sample"> {{ sample.productionNumber }} </mat-cell>
		</ng-container>
		<ng-container matColumnDef="color">
			<mat-header-cell *matHeaderCellDef mat-sort-header> Product </mat-header-cell>
			<mat-cell *matCellDef="let sample"> {{ sample.color }} </mat-cell>
		</ng-container>
		<ng-container matColumnDef="equipment">
			<mat-header-cell *matHeaderCellDef mat-sort-header> Equipment </mat-header-cell>
			<mat-cell *matCellDef="let sample"> {{ sample.equipment }} </mat-cell>
		</ng-container>
		<ng-container matColumnDef="userName">
			<mat-header-cell *matHeaderCellDef mat-sort-header> Printed By </mat-header-cell>
			<mat-cell *matCellDef="let sample"> {{ sample.userName }} </mat-cell>
		</ng-container>
		<ng-container matColumnDef="addInfo">
			<mat-header-cell *matHeaderCellDef mat-sort-header> Notes </mat-header-cell>
			<mat-cell *matCellDef="let sample"> {{ sample.addInfo }} </mat-cell>
		</ng-container>
		<ng-container matColumnDef="inTime">
			<mat-header-cell *matHeaderCellDef mat-sort-header> In Time </mat-header-cell>
			<mat-cell *matCellDef="let sample"> {{ sample.inTime | date: 'medium' }} </mat-cell>
		</ng-container>
		<ng-container matColumnDef="punch">
			<mat-header-cell *matHeaderCellDef fxFlex="60px" > Punch </mat-header-cell>
			<mat-cell *matCellDef="let sample" fxFlex="60px">
				<button mat-raised-button color="accent" type="submit" (click)='checkSampleFromList(sample.sampleId)'>
					<mat-icon>timer</mat-icon>
					Punch
				</button>
			</mat-cell>
		</ng-container>
		<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
		<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
	</mat-table>

	<mat-spinner *ngIf="showSpinner"></mat-spinner>
</div>