mat-card{
    margin: auto;
    margin-bottom: 30px;    
    width: 60%;
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.mat-input-element{
    font-size: xx-large !important;
}

.mat-button{
    width:100%;
}

.button-row{
    width:100%;
}