
<div class="card-content">
   
  <b>In Time:</b> {{ scan.inTime | date: 'medium' }}<br>    
  <b>Out Time:</b>  {{ scan.outTime | date: 'medium' }}<br>
  
</div>

<!-- <div class="card-footer"> -->
<!--   <span class="button is-small is-info card-footer-scan" (click)='updateDatePrinted()'>Update Date Printed</span> -->
<!--   <span class="button is-small is-success card-footer-scan" (click)='updateInTime()'>Update In Time</span> -->
<!--   <span class="button is-small is-danger card-footer-scan" (click)='deleteScan()'>Delete</span> -->
<!-- </div> -->
